.navbar {
    width: 1920px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;

    button {
        width: 236px;
        height: 50px;
        border: 1px solid #FFFFFF;
    }

    .btn {
        width: 50px;
        height: 50px;
        background-color: transparent;

        &:nth-of-type(2) {
            margin-left: 10px;
        }

        .icon {
            width: 20px;
            height: 20px;
            color: #FFFFFF;
        }
    }

    .functionList {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        width: 320px;
        height: 49px;
        visibility: hidden;

        * {
            display: none;
        }
    }
}