.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    cursor: pointer;

    .icon {
        width: 20px;
        height: 20px;
        margin-left: 10px;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 768px) {
    .btn {
        margin: 0px;

        p {
            font-size: 14px;
            line-height: 19.91px;
        }

        .icon {
            width: 16px;
            height: 16px;
            margin-left: 5px;
        }
    }
}