.modal {
    width: 1880px;
    height: 927px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 133px;
    left: 50%;
    padding: 20px 0px;
    background-color: #111111;
    transform: translateX(-50%);
    z-index: 1;
    cursor: auto;

    .nav {
        width: 1840px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .functionList {
            display: flex;
            width: 408px;
            height: 85px;
            flex-shrink: 0;
            justify-content: space-between;
            align-items: center;
        }

        button {
            background-color: transparent;
            border: none;

            .cross {
                width: 32px;
                height: 32px;
                color: #FFFFFF;
            }
        }
    }

    .img {
        width: 543.52px;
        height: 700px;
    }

    .imgInfo {
        width: 1840px;
        height: 50px;
        display: flex;
        justify-content: space-between;

        .title {
            display: flex;
            flex-direction: column;
            color: #FFFFFF;

            span {
                color: rgba(255, 255, 255, 0.6);
                font-size: 14px;
                font-weight: 400;
                line-height: 19.91px;
            }
        }

        .userAction {
            display: flex;

            button {
                padding: 10px 16px 10px 20px;
                border: 1px solid #FFFFFF;
            }
        }
    }
}

@media screen and (max-width: 1880px) {
    .modal {
        width: 80%;
        height: 90%;
        justify-content: space-around;
        top: 91px;

        .nav {
            width: 95%;
            height: 10%;

            .functionList {
                height: 85px;

                button {
                    padding: 0;
                }
            }

            .cross {
                width: 24px;
                height: 24px;
            }
        }

        .img {
            width: 40vw;
            height: 50vh;
        }

        .imgInfo {
            width: 40vw;
            height: 103px;
            flex-direction: column-reverse;

            .title {
                font-size: 14px;
                line-height: 19.91px;

                span {
                    font-size: 12px;
                    line-height: 17.06px;
                }
            }

            .userAction {
                justify-content: flex-end;

                button {
                    margin: 0px 0px 0px 8px;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .modal {
        width: 320px;
        height: 631px;
        top: 49px;

        .nav {
            width: 290px;
            height: 85px;
            flex-direction: column-reverse;
            justify-content: flex-end;
            align-items: flex-end;

            .functionList {
                width: 290px;
            }
        }

        .img {
            width: 290px;
            height: 373px;
            margin: 12px 0px;
        }

        .imgInfo {
            width: 290px;
            height: 103px;
            align-items: stretch;
        }
    }
}