.homeItem {
    margin: 0px 10px;
    cursor: pointer;

    &:nth-of-type(1) {
        margin-left: 0px;
    }
}

.overviewItem {
    margin: 10px;
    cursor: pointer;
}

.img {
    width: 455px;
    height: 293px;
}

.mask {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(6px);
    cursor: auto;
}

@media screen and (max-width: 1880px) {
    .homeItem {
        min-width: calc(96%/3);
        margin: 0em 1%;
        height: 100%;
    }

    .img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 576px) {
    .homeItem {
        min-width: 290px;
        height: 187px;
        margin: 0px 10px;
    }
}