.list {
    width: 1920px;
    overflow: hidden;

    .link {
        padding: 10px 20px 0px 20px;
        text-decoration: none;

        .icon {
            width: 20px;
            height: 20px;
            color: #FFFFFF;
            margin-right: 10px;
        }

        .title {
            display: inline;
            color: #FFFFFF;
        }
    }

    .photos {
        height: 333px;
        display: flex;
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    .list {
        width: 320px;

        .link {
            width: 320px;
            display: inline-block;
            padding: 0px 15px 0px 15px;
            text-decoration: none;
            overflow: hidden;
            white-space: nowrap;

            .icon {
                width: 16px;
                height: 16px;
                margin-right: 6px;
            }

            .title {
                font-size: 14px;
                line-height: 19.91px;
            }
        }

        .photos {
            width: 320px;
            height: 217px;
            padding: 15px;
        }
    }
}