.login {
  width: 1920px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #111111;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    input {
      width: 700px;
      height: 50px;
      color: #FFFFFF;
      background-color: transparent;
      border: 1px solid #FFFFFF;

      &::placeholder {
        color: rgba(255, 255, 255, 0.6);
        font-size: 18px;
        font-weight: 400;
        line-height: 25.59;
      }
    }

    .loginBtn {
      width: 700px;
      height: 50px;
      margin: 20px 0px;
    }

    .noAccount {
      color: #FFFFFF;
    }

    .registerWay {
      width: 700px;
      height: 50px;
      display: flex;
      margin-top: 20px;

      button {
        width: 340px;
        height: 50px;

        &:nth-of-type(1) {
          margin-right: 20px;
        }

        &:nth-of-type(2) {
          display: flex;
          justify-content: center;
          align-items: center;

          &::before {
            content: 'Continue with';
            display: flex;
            margin-right: 4px;
            font-size: 18px;
            font-weight: 400;
            line-height: 25.59px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .login {
    width: 320px;
    height: 680px;

    background-color: #798;

    .container {
      input {
        width: 290px;
        height: 40px;
      }

      .loginBtn {
        width: 290px;
        height: 40px;
      }


      .registerWay {
        width: 290px;
        height: 40px;

        button {
          width: 137.5px;
          height: 40px;

          &:nth-of-type(1) {
            margin-right: 10px;
          }

          &:nth-of-type(2) {

            &::before {
              content: '';
            }
          }
        }
      }
    }

    p {
      font-size: 14px;
      line-height: 19.91px;
    }
  }
}