.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #111111;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      width: 700px;
      height: 50px;
      margin-bottom: 20px;
      padding-left: 10px;
      color: #FFFFFF;
      background-color: transparent;
      border: 1px solid #FFFFFF;

      &::placeholder {
        color: rgba(255, 255, 255, 0.6);
        font-size: 18px;
        font-weight: 400;
        line-height: 25.59;
      }
    }

    .loginBtn {
      width: 700px;
      height: 50px;
    }

    .noAccount {
      color: #FFFFFF;
      margin: 10px 0px;
    }

    .registerWay {
      width: 700px;
      height: 50px;
      display: flex;

      button {
        width: 340px;
        height: 50px;

        &:nth-of-type(1) {
          margin-right: 20px;
        }

        &:nth-of-type(2) {
          display: flex;
          justify-content: center;
          align-items: center;

          &::before {
            content: 'Continue with';
            display: flex;
            margin-right: 4px;
            font-size: 18px;
            font-weight: 400;
            line-height: 25.59px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1880px) {
  .login {

    .container {
      input {
        width: 80%;
      }

      .loginBtn {
        width: 80%;
      }

      .registerWay {
        width: 80%;

        button {

          &:nth-of-type(2) {

            &::before {
              font-size: 14px;
              line-height: 19.91px;
            }
          }
        }
      }
    }

    p {
      font-size: 14px;
      line-height: 19.91px;
    }
  }
}

@media screen and (max-width: 576px) {
  .login {

    .container {
      input {
        width: 290px;
        height: 40px;
      }

      .loginBtn {
        width: 290px;
        height: 40px;
      }

      .registerWay {
        width: 290px;
        height: 40px;

        button {
          width: 137.5px;
          height: 40px;

          &:nth-of-type(1) {
            margin-right: 10px;
          }

          &:nth-of-type(2) {

            &::before {
              content: '';
            }
          }
        }
      }
    }
  }
}